<div class="row">
    <div class="col-6">
        <div class="mb-3">
            <label for="Name" class="form-label">
                Name: <span class="text-danger">*</span>
            </label>
            <InputText @bind-Value="Model.Name"
                       DisplayName="Name"
                       id="Name"
                       name="Name"
                       class="form-control"
                       placeholder="Name" />
            <ValidationMessage For="@(() => Model.Name)" />
        </div>
    </div>
    <div class="col-3">
        <div class="mb-3">
            <label for="Abbreviation" class="form-label">
                Abbreviation: <span class="text-danger">*</span>
            </label>
            <InputText @bind-Value="Model.Abbreviation"
                       DisplayName="Abbreviation"
                       id="Abbreviation"
                       name="Abbreviation"
                       class="form-control"
                       placeholder="Abbreviation" />
            <ValidationMessage For="@(() => Model.Abbreviation)" />
        </div>
    </div>
    <div class="col-3">
        <OrganizationSelector Model="Model" />
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="mb-3">
            <label for="Description" class="form-label">
                Description:
            </label>
            <InputTextArea @bind-Value="Model.Description"
                           DisplayName="Description"
                           id="Description"
                           name="Description"
                           class="form-control"
                           rows="4"
                           placeholder="Description" />
            <ValidationMessage For="@(() => Model.Description)" />
        </div>
    </div>
</div>

@code {
    [Parameter, EditorRequired]
    public required EnvironmentUpdateModel Model { get; set; }
}
